.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    width: 150%;
    color: #fff;
    margin-left: -50%;
    padding-left: 50%;
    position: relative;
    background-color: #242644;
    border-top: 4px solid #ffb53e;
    .tag {
      font-size: 0.8rem;
      color: #fff;
      padding: 0.5rem 1rem;
      background: #ffb53e;
      border-radius: 0 0 8px 8px;
      position: absolute;
      right: 2rem;
    }
  }
  .contents {
    flex: 1;
    padding: 2rem;
  }
}

.displayTitle {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2rem;
}
