/*
 * 全体
 */
.root {
  width: 100%;
}

.outer {
  width: 100%;
  padding: 2rem;
  border-radius: 16px;
  h2 {
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 0.6rem;
  }
}

.inner {
  width: 100%;
  min-height: 4rem;
  background-color: #fff;
  margin-top: 1rem;
  padding: 2rem 2rem;
  border-radius: 8px;

  .articleWrapper {
    padding-top: 1rem;
  }
}

.article {
  padding: 1.2rem 0 0.8rem 0;
  border-bottom: 1px solid var(--c-gray);

  // 最後の要素のみ
  &.article:last-child {
    border-bottom: none;
  }

  .articleInner {
    display: flex;

    .articleTitle {
      color: var(--c-secondary);
      flex: 1 1;
      font-size: 1rem;
      font-weight: bold;
    }

    .articleActions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > button {
        font-size: 1.6rem;
        color: var(--c-gray);
      }
    }
  }

  .sub {
    font-size: 0.8rem;
    color: var(--c-gray);
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    span {
      margin-right: 0.4rem;
    }
    .subStatus {
      color: var(--c-primary);
      border: 1px solid var(--c-primary);
      padding: 0.2rem 0.4rem;
    }
  }
}
